Notebook to extract the features frome the 1999 census data

## Content
* Features Extraction
    * Principais características do produtor singular (Homem/mulher)

In [2]:
import pandas as pd

In [3]:
import os

path_to_census_folder = "./"

path_to_alentejo_data = os.path.join(path_to_census_folder, "218_RGA Alentejo.xls")
path_to_edm_data = os.path.join(path_to_census_folder, "213_RGA EDM.xls")
path_to_beiralit_data = os.path.join(path_to_census_folder, "216_RGA Beira Litoral.xls")
path_to_tràsmontes_data = os.path.join(path_to_census_folder, "217_RGA Trás Montes.xls")
path_to_roeste_data = os.path.join(path_to_census_folder, "220_RGA ROeste.xls")
path_to_beiraint_data = os.path.join(path_to_census_folder, "RGA-BI_1999.xls")

In [4]:
data_paths = [path_to_alentejo_data, path_to_beiralit_data, path_to_beiraint_data,
              path_to_edm_data, path_to_roeste_data, path_to_tràsmontes_data]

# Features extraction

In [5]:
def extract_multiindex_row_data(file_path, sheets_to_fetch, header_row, cols_to_drop, features_to_extract):
    """
    Function to read spreadsheet where the municipalities are in row and there are two levels of column indexes that want
    to be read as multiindex
    """
    all_data = pd.read_excel(file_path, sheet_name=sheets_to_fetch, index_col=[0, 1], header=header_row)
    
    data_combined = pd.DataFrame()
    for sheet in all_data.values():
        data_combined = pd.concat([data_combined, sheet.loc[features_to_extract]], axis=1, sort=False)    
    
    data_combined.drop('Unnamed: 2', axis=1, inplace=True)
    data_combined.drop(cols_to_drop, axis=1, inplace=True)
    
    data_combined.replace({'- ': 0}, inplace=True)
    if data_combined.isin(['nº de indivíduos']).any().any():    ###
        data_combined.replace({'nº de indivíduos': float('NaN')}, inplace=True)    ###
    data_combined.dropna(how='all', inplace=True)
    
    #Exclude columns that would have a third index, for which the second level index is repeated
    indexes_2_lev = data_combined.index.get_level_values(1)
    not_duplicate = [True]
    for i in range(1, len(indexes_2_lev)):
        if indexes_2_lev[i] == indexes_2_lev[i-1]:
            not_duplicate.append(False)
        else:
            not_duplicate.append(True)
    data_combined = data_combined.loc[not_duplicate]
    
    #### data_combined.rename(index={float('NaN'): 'Number'}, inplace=True)
    data_combined = data_combined.transpose()
    data_combined.index.name = 'Municipality'
    return data_combined

In [6]:
def rename_second_level(dataframe, cols):
    d = dict(zip(dataframe.columns.get_level_values(1), cols))
    dataframe.rename(columns=d, level=1, inplace=True)

## Principais características do produtor singular (Homem/mulher)

In [7]:
ind_farmers_char_by_region = []

In [8]:
features_to_extract = ['Produtor singular', 'Nível de instrução', 'Formação profissional agrícola',
                       'Tempo de actividade agrícola ', 'Actividades remuneradas exterior à exploração',
                       'Situação na profissão exterior à exploração']

Alentejo

In [9]:
sheets_to_fetch = ['079', '080', '081', '082', '083']
header_row = 2
cols_to_drop = ['ALENTEJO', 'Alentejo Litoral', 'Alto Alentejo', 'Alentejo Central', 'Baixo Alentejo']


alent_ind_farmers_char = extract_multiindex_row_data(
    path_to_alentejo_data, sheets_to_fetch, header_row, cols_to_drop, features_to_extract
)

In [10]:
alent_ind_farmers_char.isnull().values.any()

False

alent_ind_farmers_char.head(2)

In [11]:
ind_farmers_char_by_region.append(alent_ind_farmers_char)

EDM

In [12]:
sheets_to_fetch = ['070', '073', '076', '079', '082', '085']
header_row = 3
cols_to_drop = ['Entre Douro e Minho', 'Minho Lima', 'Cávado', 'Ave', 'Grande Porto', 'Tâmega', 'Entre Douro e Vouga']

edm_ind_farmers_char = extract_multiindex_row_data(
    path_to_edm_data, sheets_to_fetch, header_row, cols_to_drop, features_to_extract
)

In [13]:
edm_ind_farmers_char.isnull().values.any()

False

edm_ind_farmers_char.head(2)

In [14]:
ind_farmers_char_by_region.append(edm_ind_farmers_char)

Beira litoral

In [15]:
sheets_to_fetch = ['083', '086', '089', '092', '095', '098', '101', '104']
header_row = 3
cols_to_drop = ['BEIRA LITORAL', 'Baixo Vouga', 'Baixo Mondego', 'Pinhal Litoral', 'Pinhal Interior Norte', 'Dão-Lafões']

beiralit_ind_farmers_char = extract_multiindex_row_data(
    path_to_beiralit_data, sheets_to_fetch, header_row, cols_to_drop, features_to_extract
)

In [16]:
beiralit_ind_farmers_char.isnull().values.any()

False

beiralit_ind_farmers_char.head(2)

In [17]:
ind_farmers_char_by_region.append(beiralit_ind_farmers_char)

Beira interior

In [18]:
sheets_to_fetch = ['056', '059', '062', '065', '068']
header_row = 3
cols_to_drop = ['BEIRA INTERIOR', 'Pinhal Interior Sul', 'Serra da Estrela', 'Beira Interior Norte', 'Beira Interior Sul', 'Cova da Beira']

beiraint_ind_farmers_char = extract_multiindex_row_data(
    path_to_beiraint_data, sheets_to_fetch, header_row, cols_to_drop, features_to_extract
)

In [19]:
beiraint_ind_farmers_char.isnull().values.any()

False

beiraint_ind_farmers_char.head(2)

In [20]:
ind_farmers_char_by_region.append(beiraint_ind_farmers_char)

Tras-os-montes

In [21]:
sheets_to_fetch = ['047', '050', '053', '056']
header_row = 3
cols_to_drop = ['Trás os Montes', 'Douro', 'Alto Trás os Montes']

tràsmontes_ind_farmers_char = extract_multiindex_row_data(
    path_to_tràsmontes_data, sheets_to_fetch, header_row, cols_to_drop, features_to_extract
)

In [22]:
tràsmontes_ind_farmers_char.isnull().values.any()

False

tràsmontes_ind_farmers_char.head(2)

In [23]:
ind_farmers_char_by_region.append(tràsmontes_ind_farmers_char)

Extremadura, Ribatejo e Oeste

In [24]:
sheets_to_fetch = ['047', '050', '053', '056']
header_row = 3
cols_to_drop = ['Trás os Montes', 'Douro', 'Alto Trás os Montes']

tràsmontes_ind_farmers_char = extract_multiindex_row_data(
    path_to_tràsmontes_data, sheets_to_fetch, header_row, cols_to_drop, features_to_extract
)

In [25]:
sheets_to_fetch = ['069', '072', '075', '078', '081']
header_row = 3
cols_to_drop = ['LISBOA E VALE DO TEJO', 'Oeste', 'Grande Lisboa', 'Península de Setúbal', 'Médio Tejo', 'Lezíria do Tejo']

roeste_ind_farmers_char = extract_multiindex_row_data(
    path_to_roeste_data, sheets_to_fetch, header_row, cols_to_drop, features_to_extract
)

In [26]:
roeste_ind_farmers_char.isnull().values.any()

False

roeste_ind_farmers_char.head(2)

In [27]:
ind_farmers_char_by_region.append(roeste_ind_farmers_char)

### Concatenate all

In [28]:
len(ind_farmers_char_by_region)

6

In [29]:
# Get name of second level columns to be consistent in all dataframes
second_level_names = alent_ind_farmers_char.columns.get_level_values(1).tolist()
second_level_names[0] = 'Number'

In [30]:
ind_farmers_char = pd.DataFrame()
for data in ind_farmers_char_by_region:
    rename_second_level(data, second_level_names)
    ind_farmers_char = pd.concat([ind_farmers_char, data], sort=False)

In [31]:
ind_farmers_char.head()

                  Produtor singular                      \
                             Number Autónomo Empresário
Municipality
Alcácer do Sal                818.0    741.0       77.0
Grândola                      978.0    950.0       28.0
Odemira                      1878.0   1736.0      142.0
Santiago do Cacém            1581.0   1494.0       87.0
Sines                         213.0    201.0       12.0

                         Nível de instrução                      \
                  Não sabe ler nem escrever Sabe ler e escrever
Municipality
Alcácer do Sal                        155.0                95.0
Grândola                              227.0               163.0
Odemira                               641.0               346.0
Santiago do Cacém                     380.0               241.0
Sines                                  58.0                28.0

                                                                         \
                  Básico - 1º ciclo Básico - 2º ciclo Básico - 3º ciclo
Municipality
Alcácer do Sal                404.0              44.0              43.0
Grândola                      416.0              53.0              37.0
Odemira                       643.0              80.0              58.0
Santiago do Cacém             709.0              98.0              79.0
Sines                          99.0              11.0               7.0

                                                               ...  \
                  Secundário agrícola Secundário não agrícola  ...
Municipality                                                   ...
Alcácer do Sal                    9.0                    17.0  ...
Grândola                          5.0                    23.0  ...
Odemira                           5.0                    47.0  ...
Santiago do Cacém                 3.0                    27.0  ...
Sines                             1.0                     3.0  ...

                  Formação profissional agrícola  \
                                        Completa
Municipality
Alcácer do Sal                              32.0
Grândola                                    21.0
Odemira                                     22.0
Santiago do Cacém                           20.0
Sines                                        3.0

                  Tempo de actividade agrícola                  \
                                  Tempo parcial Tempo completo
Municipality
Alcácer do Sal                            596.0          222.0
Grândola                                  722.0          256.0
Odemira                                  1680.0          198.0
Santiago do Cacém                        1405.0          176.0
Sines                                     208.0            5.0

                  Actividades remuneradas exterior à exploração             \
                                                      Principal Secundária
Municipality
Alcácer do Sal                                            264.0       14.0
Grândola                                                  258.0       31.0
Odemira                                                   421.0       50.0
Santiago do Cacém                                         447.0       16.0
Sines                                                      74.0        2.0

                  Situação na profissão exterior à exploração  \
                                            Patrão/empregador
Municipality
Alcácer do Sal                                           33.0
Grândola                                                 31.0
Odemira                                                  49.0
Santiago do Cacém                                        50.0
Sines                                                     4.0

                                                 \
                  Trabalhador por conta própria
Municipality
Alcácer do Sal                             92.0
Grândola                                   84.0
Odemira                                   145.0
Santiago do Cacém                         122.0
Sines                                      12.0

                                                   \
                  Trabalhador por conta de outrem
Municipality
Alcácer do Sal                              152.0
Grândola                                    173.0
Odemira                                     270.0
Santiago do Cacém                           288.0
Sines                                        60.0


                  Trabalhador familiar remunerado Outra situação
Municipality
Alcácer do Sal                                1.0            0.0
Grândola                                      0.0            1.0
Odemira                                       3.0            4.0
Santiago do Cacém                             0.0            3.0
Sines                                         0.0            0.0

[5 rows x 26 columns]

### Final manipulation

Manipulate to have all values in percentage over the total number of farmers

In [32]:
for (columnName, columnData) in ind_farmers_char.iteritems():
    if columnName != ('Produtor singular', 'Number'):
        ind_farmers_char[columnName] = columnData / ind_farmers_char[('Produtor singular', 'Number')]

Drop outer index level

In [33]:
ind_farmers_char = ind_farmers_char.droplevel(0, axis=1)

Drop useless columns

In [34]:
feats_to_drop = ['Outra situação']

ind_farmers_char.drop(feats_to_drop, axis=1, inplace=True)

Correct wrong columns

In [35]:
corrections = {'Ponte Sôr': 'Ponte de Sor',
               'Vila Velha de Rodão': 'Vila Velha de Ródão',
               'Condeixa -a- Nova': 'Condeixa-a-Nova',
               'Montemor -o- Velho': 'Montemor-o-Velho',
               'Terras do Bouro': 'Terras de Bouro',
               'Moimenta da  Beira': 'Moimenta da Beira',
               'Alfândega da fé': 'Alfândega da Fé',
               'Semancelhe': 'Sernancelhe'}
ind_farmers_char.rename(index=corrections, inplace=True)

In [36]:
ind_farmers_char.head(2)

,Number,Autónomo,Empresário,Não sabe ler nem escrever,Sabe ler e escrever,Básico - 1º ciclo,Básico - 2º ciclo,Básico - 3º ciclo,Secundário agrícola,Secundário não agrícola,...,Longa e curta duração,Completa,Tempo parcial,Tempo completo,Principal,Secundária,Patrão/empregador,Trabalhador por conta própria,Trabalhador por conta de outrem,Trabalhador familiar remunerado
Municipality,,,,,,,,,,,,,,,,,,,,,
Alcácer do Sal,818.0,0.905868,0.094132,0.189487,0.116137,0.493888,0.053790,0.052567,0.011002,0.020782,...,0.006112,0.039120,0.728606,0.271394,0.322738,0.017115,0.040342,0.112469,0.185819,0.001222
Grândola,978.0,0.971370,0.028630,0.232106,0.166667,0.425358,0.054192,0.037832,0.005112,0.023517,...,0.003067,0.021472,0.738241,0.261759,0.263804,0.031697,0.031697,0.085890,0.176892,0.000000

## Natureza jurídica do produtor

def extract_multiindex_col_data(file_path, sheets_to_fetch, header_rows, cols_to_drop):#, features_to_extract):
    """
    Function to read spreadsheet where the municipalities are in column and there are two levels of column indexes that want
    to be read as multiindex
    """
    all_data = pd.read_excel(file_path, sheet_name=sheets_to_fetch, index_col=[0, 1], header=header_rows)
    
    data_combined = pd.DataFrame()
    for sheet in all_data.values():
        data_combined = pd.concat([data_combined, sheet.loc[features_to_extract]], axis=1, sort=False)    
    
    data_combined.drop('Unnamed: 2', axis=1, inplace=True)
    data_combined.drop(cols_to_drop, axis=1, inplace=True)
    
    data_combined.replace({'- ': 0}, inplace=True)
    if data_combined.isin(['nº de indivíduos']).any().any():    ###
        data_combined.replace({'nº de indivíduos': float('NaN')}, inplace=True)    ###
    data_combined.dropna(how='all', inplace=True)
    
    #Exclude columns that would have a third index, for which the second level index is repeated
    indexes_2_lev = data_combined.index.get_level_values(1)
    not_duplicate = [True]
    for i in range(1, len(indexes_2_lev)):
        if indexes_2_lev[i] == indexes_2_lev[i-1]:
            not_duplicate.append(False)
        else:
            not_duplicate.append(True)
    data_combined = data_combined.loc[not_duplicate]
    
    #### data_combined.rename(index={float('NaN'): 'Number'}, inplace=True)
    data_combined = data_combined.transpose()
    data_combined.index.name = 'Municipality'
    return data_combined

sheets_to_fetch = ['022']
header_row = 2
cols_to_drop = ['ALENTEJO', 'Alentejo Litoral', 'Alto Alentejo', 'Alentejo Central', 'Baixo Alentejo']


alent_ind_farmers_char = extract_multiindex_row_data(
    path_to_alentejo_data, sheets_to_fetch, header_row, cols_to_drop, features_to_extract
)

## Load pastures data

In [37]:
path_to_pastures_data = "census_pastures_data.csv"

In [38]:
pastures_data = pd.read_csv(path_to_pastures_data, index_col='Municipality')

In [39]:
pastures_data.drop(['Lisboa', 'Porto'], axis=0, inplace=True)

# Merge files

#### Remember to compare the column names before merging with the first one!

In [40]:
census_databases = [ind_farmers_char, pastures_data]

In [41]:
census_data = pd.DataFrame(index=ind_farmers_char.index)
for database in census_databases:
    census_data = pd.concat([census_data, database], axis=1, join='inner')

Remove São João da Madeira

In [42]:
census_data.drop('São João da Madeira', inplace=True)

In [43]:
new_name_columns = ['individual_prod_num', 'individual_prod_autonomous', 'individual_prod_in_business', 'educ_cannot_read_write',
                    'educ_can_read_write', 'educ_basic_1st_cycle', 'educ_basic_2nd_cycle', 'educ_basic_3rd_cycle', 
                    'educ_secondary_agr', 'educ_secondary_not_agr', 'educ_polyt_or_superior_agr',
                    'educ_polyt_or_superior_not_agr', 'prof_only_practical', 'prof_short', 'prof_long', 'prof_short_and_long', 
                    'prof_complete', 'agr_time_partial', 'agr_time_full', 'ext_imp_principal', 'ext_imp_secondary',
                    'ext_sit_employer', 'ext_sit_self_employed', 'ext_sit_employed_by_others', 'ext_sit_in_family']
len(new_name_columns)

25

In [44]:
new_cols_dict = dict(zip(census_data.columns, new_name_columns))
census_data.rename(columns=new_cols_dict, inplace=True)

In [45]:
census_data.head()

,individual_prod_num,individual_prod_autonomous,individual_prod_in_business,educ_cannot_read_write,educ_can_read_write,educ_basic_1st_cycle,educ_basic_2nd_cycle,educ_basic_3rd_cycle,educ_secondary_agr,educ_secondary_not_agr,...,agr_time_partial,agr_time_full,ext_imp_principal,ext_imp_secondary,ext_sit_employer,ext_sit_self_employed,ext_sit_employed_by_others,ext_sit_in_family,pastures_area_munic,pastures_mean_size_munic
Municipality,,,,,,,,,,,,,,,,,,,,,
Alcácer do Sal,818.0,0.905868,0.094132,0.189487,0.116137,0.493888,0.053790,0.052567,0.011002,0.020782,...,0.728606,0.271394,0.322738,0.017115,0.040342,0.112469,0.185819,0.001222,65038.0,221.972696
Grândola,978.0,0.971370,0.028630,0.232106,0.166667,0.425358,0.054192,0.037832,0.005112,0.023517,...,0.738241,0.261759,0.263804,0.031697,0.031697,0.085890,0.176892,0.000000,25736.0,46.877960
Odemira,1878.0,0.924388,0.075612,0.341321,0.184239,0.342386,0.042599,0.030884,0.002662,0.025027,...,0.894569,0.105431,0.224175,0.026624,0.026092,0.077210,0.143770,0.001597,32776.0,35.978046
Santiago do Cacém,1581.0,0.944972,0.055028,0.240354,0.152435,0.448450,0.061986,0.049968,0.001898,0.017078,...,0.888678,0.111322,0.282732,0.010120,0.031626,0.077166,0.182163,0.000000,25173.0,45.852459
Sines,213.0,0.943662,0.056338,0.272300,0.131455,0.464789,0.051643,0.032864,0.004695,0.014085,...,0.976526,0.023474,0.347418,0.009390,0.018779,0.056338,0.281690,0.000000,1561.0,70.954545

In [46]:
census_data.shape

(259, 27)

In [47]:
census_data.isnull().values.any()

False

# Save file

In [48]:
census_out_file = "census_data.csv"
census_data.to_csv(census_out_file)

## For ABM

census_data_no_pastures_area = census_data.drop('pastures_area_munic', axis=1)

census_abm_out_file = "census_data_for_abm.csv"
census_data_no_pastures_area.to_csv(census_abm_out_file)

In [54]:
census_abm_out_file = "census_data_for_abm.csv"
census_data.to_csv(census_abm_out_file)