Notebook to merge the relevant Animal Future survey data in one database.

In [1]:
import pandas as pd

## Data ingestion

### Area use data

In [2]:
path_area_data = '43_Areas_POR_DualPurpose.xlsx'
columns_to_fetch = ['FARM_ID', 'AREA_ID', 'Surface']
area_data_original = pd.read_excel(path_area_data, sheet_name='Main', index_col=0, usecols=columns_to_fetch)
area_data_original = area_data_original.drop('PT00')

Get label:
* 1 if the farm has any sown permanent pasture
* 0 otherwise

In [3]:
area_data_SBP_or_not = area_data_original['AREA_ID'].str.contains('Sown permanent pasture')
area_data_SBP_or_not = area_data_SBP_or_not.groupby('FARM_ID').any()

area_data = pd.DataFrame()
area_data['AdoptedSBP'] = area_data_SBP_or_not.astype(int)

In [4]:
area_data.head()

         AdoptedSBP
FARM_ID
PT01              0
PT02              0
PT03              1
PT04              1
PT05              0

Get total pasture area

In [5]:
area_data_original = area_data_original[area_data_original['AREA_ID'].str.contains('pasture')]
area_data['PastureSurface'] = area_data_original.groupby('FARM_ID')['Surface'].sum()

area_data.head()

         AdoptedSBP  PastureSurface
FARM_ID
PT01              0           60.90
PT02              0          364.00
PT03              1         3450.44
PT04              1          160.40
PT05              0          457.37

### Livestock data

In [6]:
path_animal_data = '43_AnimalCategories_POR_DualPurpose.xlsx'
columns_to_fetch = ['FARM_ID', 'LivestockType', 'AverageNumber']
animal_data_original = pd.read_excel(path_animal_data, sheet_name='Main', index_col=0, usecols=columns_to_fetch)
animal_data_original = animal_data_original.drop('PT00') # Drop farm 00, not relevant for the analysis

Get percentage of cattle for each farm

In [7]:
total_animals = animal_data_original.groupby('FARM_ID')['AverageNumber'].sum().rename('AverageAnimals')

total_animals_per_type = animal_data_original.groupby(['FARM_ID', 'LivestockType'], as_index=True).sum()
total_cattle = total_animals_per_type.query('LivestockType == "Cattle"').rename(columns={'AverageNumber': 'AverageCattle'})

total_animal_cattle = pd.merge(total_animals, total_cattle, on='FARM_ID', how='outer')
total_animal_cattle = total_animal_cattle.fillna(0)

In [8]:
animal_data = pd.DataFrame()
animal_data['CattlePercentage'] = total_animal_cattle['AverageCattle'] / total_animal_cattle['AverageAnimals']

animal_data.head()

         CattlePercentage
FARM_ID
PT01             0.000000
PT02             0.000000
PT03             1.000000
PT04             1.000000
PT05             0.410191

### Location data

**Note**: 'PT35' had a white space in the excel file after the name that made it disappear when merging the datasets.

In [9]:
path_location_data = 'Farms_Location.xls'
columns_to_fetch = ['FARM_ID', 'Distrito', 'Concelho']
# Imported without FARM_ID as index since need to be fixed before
location_data = pd.read_excel(path_location_data, usecols=columns_to_fetch) 

location_data.head()

  FARM_ID    Distrito   Concelho
0     PT1  Portalegre      Elvas
1     PT2     Setúbal   Grândola
2     PT3    Santarém  Benavente
3     PT4     Setúbal    Montijo
4     PT5       Évora   Montemor

In [10]:
# Add a 0 in the FARM_ID to be consistent with the other databases
num_idx = 2
for idx in range(len(location_data['FARM_ID'])):
    if len(location_data['FARM_ID'][idx]) == 3:
        location_data['FARM_ID'][idx] = location_data['FARM_ID'][idx][:num_idx] + '0' + location_data['FARM_ID'][idx][num_idx:]

In [11]:
location_data = location_data.set_index('FARM_ID')

In [12]:
location_data.head()

           Distrito   Concelho
FARM_ID
PT01     Portalegre      Elvas
PT02        Setúbal   Grândola
PT03       Santarém  Benavente
PT04        Setúbal    Montijo
PT05          Évora   Montemor

### Farms general data

In [13]:
path_general_data = '31_FarmsGeneral_DualPurpose.xlsx'
columns_to_fetch = ['FARM_ID', 'OwnLand', 'RentedLand', 'LegalForm','FarmerSince']
general_data_original = pd.read_excel(path_general_data, index_col=0, usecols=columns_to_fetch)
general_data_original = general_data_original.drop('PT00')

Get percentage of rented land over total one

In [14]:
general_data = general_data_original[['FarmerSince']]
general_data['PercentRentedLand'] = general_data_original['RentedLand'] / (general_data_original['OwnLand'] + general_data_original['RentedLand'])

C:\Users\giaco\anaconda3\envs\data_analysis\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Tranform LegalForm it into a binary category, "Associated" if part of a cooperative/association (including ENI) and "Individual" if individual

In [15]:
mapping = {'Cooperativa Social': "Associated", 'ENI': "Associated", 'Sociedade Agrícola': "Associated", 'Individual': 'Individual'}
general_data['LegalForm'] = general_data_original.loc[:, 'LegalForm'].replace(mapping)

C:\Users\giaco\anaconda3\envs\data_analysis\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
general_data.head()

         FarmerSince  PercentRentedLand   LegalForm
FARM_ID
PT02              29                0.0  Individual
PT13              11                0.0  Associated
PT15              11                1.0  Associated
PT16               3                1.0  Individual
PT17              10                1.0  Associated

### Education data

In [17]:
path_education_data = '31_Social_Education_DualPurpose.xlsx'
columns_to_fetch = ['FARM_ID', 'HighestEducationalDegree', 'HighestAgriculturalEducationalDegree']
education_data = pd.read_excel(path_education_data, index_col=0, usecols=columns_to_fetch)
education_data = education_data.drop('PT00')
education_data['HighestAgriculturalEducationalDegree'] = education_data['HighestAgriculturalEducationalDegree'].fillna('None')

education_data.head()

        HighestEducationalDegree HighestAgriculturalEducationalDegree
FARM_ID
PT02               Undergraduate                        Undergraduate
PT13               Undergraduate                        Undergraduate
PT15               Undergraduate                        Undergraduate
PT16               Undergraduate                        Undergraduate
PT17               Undergraduate                                 None

### Succession data

In [18]:
path_succession_data = '31_Social_Succession_DualPurpose.xlsx'
columns_to_fetch = ['FARM_ID', 'ExpectationFarmSuccession']
succession_data_original = pd.read_excel(path_succession_data, index_col=0, usecols=columns_to_fetch)
succession_data_original = succession_data_original.drop('PT00')

In [19]:
succession_data_original['ExpectationFarmSuccession'].value_counts()

2    20
1     9
5     1
Name: ExpectationFarmSuccession, dtype: int64

Since in the data we have just farmers that either expect a family succession or not (and one answer as "other"), we transform this feature in a binary one, either if family succession is expected or not

In [20]:
succession_data=pd.DataFrame()
mapping = {1: "No", 2: "Yes", 5: "No"}
succession_data['ExpectationFamilySuccession'] = succession_data_original['ExpectationFarmSuccession'].replace(mapping)

succession_data.head()

        ExpectationFamilySuccession
FARM_ID
PT02                            Yes
PT13                            Yes
PT15                            Yes
PT16                            Yes
PT17                            Yes

# Old version to have more categories

mapping = {1: 'NoExpectation', 2: 'FamilyInheritance', 5: 'NoExpectation'}
# Since we have only one instance that answered 5 (that would be 'Other'), we make it fall in the category NoExpectation
succession_data['ExpectationFarmSuccession'] = succession_data_original['ExpectationFarmSuccession'].replace(mapping)

succession_data.head()

## Merging data for analysis on 30 farmers with all variables

In [21]:
import functools

In [22]:
farms_dataframes = [area_data, animal_data, location_data, general_data, education_data, succession_data]
farms30 = functools.reduce(lambda left, right: pd.merge(left, right, on='FARM_ID'), farms_dataframes)

farms30.head()

,AdoptedSBP,PastureSurface,CattlePercentage,Distrito,Concelho,FarmerSince,PercentRentedLand,LegalForm,HighestEducationalDegree,HighestAgriculturalEducationalDegree,ExpectationFamilySuccession
FARM_ID,,,,,,,,,,,
PT02,0,364.00,0.0,Setúbal,Grândola,29,0.0,Individual,Undergraduate,Undergraduate,Yes
PT13,1,542.58,1.0,Portalegre,Avis,11,0.0,Associated,Undergraduate,Undergraduate,Yes
PT15,1,262.70,1.0,Portalegre,Monforte,11,1.0,Associated,Undergraduate,Undergraduate,Yes
PT16,0,23.00,1.0,Évora,Évora,3,1.0,Individual,Undergraduate,Undergraduate,Yes
PT17,1,250.00,1.0,Évora,Montemor,10,1.0,Associated,Undergraduate,None,Yes

### Save dataset

In [23]:
out_30_farmers = "AF_survey_data_30.xlsx"

In [24]:
farms30.to_excel(out_30_farmers)